
.quote {
    -webkit-animation: fade-in 3s ease-in;
}


@keyframes fade-in {
    0%   {
        opacity: 0;
    }
    20%  {
        opacity: .2;
    }
    40%  {
        opacity: .4;
    }
    60%  {
        opacity: .6;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
  }